<h1>Sobre VGCSets</h1>
<p>VGCsets es una página de origen chileno que nace con el objetivo de ser una base de datos de sets para el formato VGC de los videojuegos de Pokémon, esta hecho para que cualquier usuario pueda enviar un set al sitio para posteriormente mostrarse instantaneamente en inicio.</p>
<br>
<p>
Para mostrar los mejores sets a los visitantes se implementó un sistema de likes y dislikes con el fin de que en todo momento se muestren preferentemente los sets mejor puntuados</p>
